.outer__container{
    padding: 2.5rem;
}

.container {
    margin: 5rem 3.5rem 0;
    padding: 2.25rem 3.5rem 1.75rem;
    /* border: 0.0005px solid var(--boder-color); */
    border-radius: 1.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    width: fit-content;
}

.title__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.label{
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-semiBold);
    color: var(--clr-primary);
}

.input {
    margin-bottom: 0.8rem;
}

.form__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link{
    width: fit-content;
    margin: 0.35rem;
}

.link__container{
    margin-block: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}